/*
Human Essence Page - Genesis Ontological Design
Zero Raw CSS - Pure semantic mapping for consciousness integration
Updated for article layout structure
*/

.essence-components {
  @include genesis-environment('distributed');
  
  .essence-component {
    @include genesis-entity('primary');
    @include genesis-atmosphere('ethereal');
    @include genesis-synapse('navigate');
    
    .component-icon {
      @include genesis-cognition('motive');
      
      i {
        @include genesis-state('evolving');
      }
    }
    
    .component-title {
      @include genesis-cognition('axiom');
    }
    
    .component-description {
      @include genesis-cognition('discourse');
    }
    
    &.values-ethics,
    &.creativity-innovation,
    &.empathy-compassion,
    &.wisdom-experience {
      @include genesis-entity('transcendent');
    }
  }
}

.embedding-timeline {
  @include genesis-environment('chronological');
  @include genesis-atmosphere('void');
  
  .timeline-item {
    @include genesis-entity('secondary');
    
    .timeline-content {
      @include genesis-entity('primary');
      @include genesis-atmosphere('ethereal');
      
      h4 {
        @include genesis-cognition('axiom');
      }
      
      p {
        @include genesis-cognition('discourse');
      }
    }
  }
}

